<div class="container">
    <h1 class="text-center mt-5">Strona Główna</h1>

    <div class="row mt-5 text-center">
        <div class="col-md-12 text-center">
            <h2>Zaplanuj swoją wycieczkę w aplikacji!</h2>
            <img class="img-fluid shadow" src="./../../../assets/strona_glowna.jpg" alt="obrazek_strony_głównej_wycieczek">
        </div>
        <div class="col-md-6 mt-5 mx-auto">
            <h3 class="mb-4">Jak zaplanować wycieczkę w aplikacji?</h3>
            <ul class="list-group">
                <li class="list-group-item">1. Przejdź na podstronę "Panel Wycieczek"</li>
                <li class="list-group-item">2. Wypełnij odpowiednio dane formularza</li>
                <li class="list-group-item">3. Potwierdź wypełnienie formularza</li>
                <li class="list-group-item">4. Sprawdź czy wycieczka została prawidłowo dodana przechodząc na podstronę "WYCIECZKI"</li>
            </ul>
        </div>
        <div class="col-md-12 mt-5">
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Uwaga!</h1>
                  <p class="lead">Na podstronie "Panel Wycieczek" możesz również edytować oraz usuwawć wycieczki!</p>
                </div>
              </div>
        </div>
    </div>



</div>